.bookedIcon{
    cursor: pointer;
}
.bookedIcon .bookedIconSpan{
    visibility: hidden;
  width: 120px;
  background-color: lightseagreen;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.bookedIcon:hover .bookedIconSpan{
    visibility: visible;
}

.notBookedIcon{
    cursor: pointer;
}
.notBookedIcon .notBookedIconSpan{
    visibility: hidden;
  width: 120px;
  background-color: lightseagreen;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.notBookedIcon:hover .notBookedIconSpan{
    visibility: visible;
}